<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Buy Nft</title>
</head>
<body>
    <h1>Buy Nft</h1>
    <img src="/img/Larva-Labs-CryptoPunk-7523.jpg" alt="">
    <ul>
  <li><a href="/">Swap Nft into Btc</a></li>
  <li> <a href="/eth">Swap Nft into eth</a> </li>
  </ul>
 </body>
</html>